<div class="flex flex-col border-2 rounded-md">
  <div class="h-80 overflow-hidden">
    {{ 'product-1' | placeholder_svg_tag: 'w-full h-full object-cover bg-gray-300' }}
  </div>
  <div class="p-2">
    <span class="text-gray-500 text-sm">Vendor</span>
    <h1 class=" text-lg">Example Title</h1>
    <p class="font-bold text-sm text-gray-500">$ 1500</p>
  </div>
</div>