<div class="my-4">
  <h1 class="text-center text-3xl mb-4">{{ section.settings.title }}</h1>
  <div class="grid max-w-6xl mx-auto gap-x-4 gap-y-6 grid-cols-1 md:grid-cols-4 ">
    {% for product in section.settings.featured_collection.products limit: section.settings.limit_by %}
      {% render 'product-card'
        , product: product %}
    {% else %}
      {% for item in (1..4) %}
        {% render 'product-card-placeholder' %}
      {% endfor %}
    {% endfor %}
  </div>
</div>

{% schema %}
  {
    "name": "Featured Collection",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Title",
        "default": "Featured collection"
      }, {
        "type": "collection",
        "id": "featured_collection",
        "label": "Collection"
      }, {
        "type": "range",
        "id": "limit_by",
        "label": "Limit featured products by",
        "min": 4,
        "max": 12,
        "step": 1,
        "default": 4
      }
    ],
    "presets": [
      {
        "name": "Featured Collection"
      }
    ]
  }
{% endschema %}