{% paginate collection.products by 6 %}
  <h1 class="text-3xl text-center mb-4">{{ section.settings.collection-title }}</h1>
  <div class="max-w-5xl mx-auto gap-x-10 gap-y-16 grid grid-cols-1 md:grid-cols-3">
    {% for product in collection.products %}
      {% render 'product-snippet'
        , item: product %}
    {% else %}
      <p>There no products in this collection</p>
    {% endfor %}
  </div>
  {% render 'pagination'
    , pagination: paginate %}
{% endpaginate %}


{% schema %}
  {
    "name": "Collection",
    "settings": [
      {
        "type": "text",
        "id": "collection-title",
        "default": "{{ collection.title }}",
        "label": "Title"
      }
    ]
  }
{% endschema %}